<div class="resume">
    <header class="page-header">
        <h1 class="page-title">Resume of John Doe</h1>
        <small> <i class="fa fa-clock-o"></i> Last Updated on: <time>Sunday, October 05, 2014</time></small>
    </header>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div class="panel panel-default">
                <div ng-include="'views/personaldetails.html'"></div>
                <div ng-include="'views/experiences.html'"></div>
                <div ng-include="'views/skills.html'"></div>
                <div ng-include="'views/education.html'"></div>

            </div>

        </div>
    </div>

</div>
